<!--<section>
  <h2>Listado de proyectos</h2>
  <p>Tienes <mark>{{ numberOfProjects }}</mark> proyectos.</p>
  <a routerLink="new" class="button"><span>Nuevo proyecto</span></a>
  <ul *ngIf="proyectos.length>0; else empty">
      <li *ngFor="let item of proyectos">
      <span><a title="Ver proyecto {{ item.name }}" routerLink="{{ item.id }}">{{ item.name }}</a></span>
      </li>
    </ul>
    <ng-template #empty> <i>Aún no hay proyectos</i> </ng-template>
</section>
<router-outlet></router-outlet>-->

<app-dashboard [projectsLength]="numberOfProjects"></app-dashboard>

<app-filterprojectsform
 [name]="projectName"
 (filtrar)="projectName=$event;onFilter($event)">
</app-filterprojectsform>

<app-projectslist
  [name]="projectName"
  [listaProyectos]="proyectos"
>
</app-projectslist>
<hr>
<app-newprojectform
  (nuevoProjecto)="newProject=$event;createProject($event)"
  [nextIndex]="numberOfProjects"
>

</app-newprojectform>
